@media (min-width: 1400px) {
  .container {
    max-width: 1450px;
  }
}

.img-contact {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}

.right-border {
  color: #735858;
  font-size: 14px;
  border-right: 2px solid #735858;
  padding-right: 20px;
}

.no-border {
  color: #735858;
  font-size: 14px;
}

.language-icon {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  object-fit: cover;
  background: #fff;
  border: 1px solid #ccc;
}

.cross-border {
  display: inline-block;
  width: 1px;
  height: 24px;
  background: #b23b1b;
  vertical-align: middle;
  margin-left: 5px;
}

.contact-item {
  margin-left: 20px;
}

/* Responsive trên mobile (dưới 576px) */
/* @media (max-width: 576px) {
  #product .text-center .display-5 {
    font-size: 1.875rem;
  }

  #product .text-center .mb-5 {
    font-size: 1.25rem;

    #product .col-md-6 .position-relative img:first-child {
      max-height: 18.75rem;
      max-width: 100%;
    }

    #product .col-md-6 .position-relative .d-flex {
      max-width: 100%;
      flex-wrap: wrap;
    }

    #product .timeline .d-flex {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }

    #product .timeline .d-flex .flex-column {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    #product .timeline .d-flex .flex-column span:last-child {
      display: none;
    }

    .about-achievements-bar {
      max-height: 15rem;
      padding: 1rem;
    }

    .about-achievements-bar .row {
      flex-direction: column;
      text-align: center;
    }

    .about-achievements-bar .col-md-4 .font-weight-bold {
      font-size: 1rem;
    }

    .about-achievements-bar .col-md-8 .font-weight-bold {
      font-size: 0.875rem;
    }

    .about-achievements-bar .col-md-8 span {
      font-size: 0.625rem;
    }
  }
} */

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

#inforNav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

#inforNav .social-media {
  gap: 8px;
}

.language {
  gap: 10px;
}

#mainNav {
  max-height: 70px;
  color: #32343d;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
  gap: 15px;
}
/* hover in mainNav*/
/* #mainNav.navbar-nav .nav-item.active .nav-link {
  color: #ff6200 !important; 
  font-weight: bold;
  border-bottom: 2px solid #ff6200; 
}

#mainNav.navbar-nav .nav-item .nav-link:hover {
  color: #ff6200;
  border-bottom: 2px solid #ff6200;
} */

.outer-underline {
  width: 220px;
  height: 5px;
  background: #ffdcd8;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
}

.iner-underline {
  width: 100px;
  height: 5px;
  background: #ff9789;
  border-radius: 3px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.about-achievements-bar {
  background: url("AboutAssets/about_2.png") center/cover no-repeat;
  border-radius: 30px;
  max-height: 180px;
}

.overlay-about2 {
  inset: 0;
  background: #881c014d;
  border-radius: 10px;
  z-index: 1;
}

.about-num {
  color: white;
  font-size: 40px;
  font-family: Mulish;
  font-weight: 700;
  word-wrap: break-word;
}

.text-veChungToi {
  font-size: 2rem;
  color: white;
  font-size: 36px;
  font-family: Mulish;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}

.text-namKinhNghiem {
  color: white;
  font-size: 16px;
  font-family: Mulish;
  font-weight: 700;
  word-wrap: break-word;
}

.group-kinhNghiem {
  gap: 30px;
  padding: 5px;
}

.text-nhungThanhTuu {
  color: white;
  font-size: 20px;
  font-family: Mulish;
  font-weight: 600;
  word-wrap: break-word;
}

.about-content {
  z-index: 2;
  padding: 30px 30px;
  gap: auto;
}

.overlay-aboutBar {
  position: absolute;
  inset: 0;
  background: rgba(255, 123, 41, 0.448);
  border-radius: 10px;
  z-index: 1;
}

.nav-link {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0%;
}

.sub-Header {
  color: #7b2a09;
  font-size: 24px;
}

.full-pro-des {
  gap: 10px;
}

.pro-des {
  gap: 21px;
}

.pro-Item1 {
  color: white;
  font-size: 14px;
  font-family: Mulish;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.btn-timHieuThem {
  border-radius: 6px;
  font-size: 16px;
}

.item-content1 {
  flex: 1 1 0;
  padding: 16px;
  position: relative; /* Quan trọng để pseudo-element định vị được */
  height: 136px;
  width: 641px;
}

.item-content1::before {
  content: "";
  position: absolute;
  top: 13px; /* Điều chỉnh vị trí theo chiều dọc */
  left: -10px; /* Nhô ra bên trái */
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0d6efd; /* Cùng màu với bg-primary */
}

.icon-router {
  width: 36px;
  height: 117px;
}

.item-content2345 {
  flex: 1 1 0;
  padding: 16px;
  position: relative; /* Quan trọng để pseudo-element định vị được */
  height: 136px;
  width: 641px;
}

.item-content2345::before {
  content: "";
  position: absolute;
  top: 13px; /* Điều chỉnh vị trí theo chiều dọc */
  left: -10px; /* Nhô ra bên trái */
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f8f9fa; /* Cùng màu với bg-primary */
}

.pro-item {
  height: 120px;
  max-width: 641px;
  gap: 21px;
  margin-top: 10px;
}
.pro-HeaderItem1 {
  color: white;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}
.pro-HeaderItem2345 {
  color: #32343d;
  font-size: 16px;
  font-family: Mulish;
  font-weight: 700;
  word-wrap: break-word;
}
.pro-Item2345 {
  color: #32343d;
  font-size: 14px;
  font-family: Mulish;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.footer-gradient {
  background: linear-gradient(
    135deg,
    #2d0000,
    #440000,
    #660000,
    #440000,
    #2d0000
  );
  color: white;
}

.footer-text-color {
  color: linear-gradient(135deg, #2d0000, #440000, #660000, #880000, #aa0000);
}

.education-bg {
  position: relative;
  background: url("EduAssets/edu_bg.png");
  background-size: cover;
  background-position: center;
}

.about-bg {
  position: relative;
  background-image: url("AboutAssets/about.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.education-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 115, 0, 0.5); /* lớp màu cam với độ mờ */
  z-index: 1;
}
.education-bg > * {
  position: relative;
  z-index: 2;
}

.edu-text-color {
  color: #ffe100;
}

.services-news-bg {
  background-color: #faf5f3;
}

.bg-price {
  background-color: #fff0f0;
}
